<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
        ">
    <context:component-scan base-package="com.example.demo"/>

    <bean id="fruit" class="com.example.demo.lookup.Fruit">
<!--        <lookup-method name="getFruit" bean="apple"></lookup-method>-->
        <replaced-method name="getFruit" replacer="apple"/>
    </bean>

    <bean id="apple" class="com.example.demo.lookup.Apple" scope="prototype"></bean>
<!--    <bean id="banana" class="com.example.demo.lookup.Banana" scope="prototype"></bean>-->

</beans>